name: Deploy to Amazon ECS

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }} 
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }} 
        aws-region: us-east-1

    - name: Login to Amazon ECR Public
      run: |
        aws ecr-public get-login-password --region us-east-1 | \
        docker login --username AWS --password-stdin public.ecr.aws/x5i6q6i6/ecs-demo-repo

    - name: Build Docker image
      run: |
        docker build -t ecs-demo-repo:latest .
        docker tag ecs-demo-repo:latest public.ecr.aws/x5i6q6i6/ecs-demo-repo

    - name: Push Docker image to ECR
      run: |
        docker push public.ecr.aws/x5i6q6i6/ecs-demo-repo

    - name: Deploy to ECS (Fargate)
      run: |
        aws ecs update-service --cluster ecs-demo-cluster --service ecs-demo-service --force-new-deployment --region ap-northeast-2
